.banner{
    width: 100%;
}

.paginaInicio{
    width: 940px;
    margin: 0 auto;
}

/*.principal{
    background: #CCCCCC;
    width: 95%;
    margin-top: 3px;
}*/

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.parrafo{
    margin: 0 0 1em;
}